
@use 'ressets' as *;
@use 'variables' as *;

@function weight ($weight-name) {
    @return map-get($font-weights, $weight-name );
}

$primary-color: rgb(40, 43, 44);
$text-color:white;

h1{
   
    background-color: rgb(25, 31, 31);
}


@mixin mq($size) {
    @media (min-width: $size) {
        @content;
    }
}



@mixin flexCenter ($direction){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: ($direction) ;
}

@mixin theme($light-theme: false) {
    @if $light-theme {
        background: lighten($primary-color, 100%);
        color: blue;
    }@else {
        background-color: red;
        color: black;
    }
}

@mixin mobile {
    @media (max-width:$mobile) {
        @content;
    }
}




body {

    background: $primary-color;
    color: $text-color;
    font-weight:  weight(bold);

    section {
        width: 80%;
        margin-inline: auto;
        @include flexCenter (columns);

        @include mobile {
            flex-direction: column;
        }
    }
}

.light {
    @include theme($light-theme:false);
}
p {
    color: rgb(35, 197, 21);
}