@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 ,h2 {
    font-family: 'Playfair Display', serif;
    
}

p {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
}

img {
    width: 100%;
    
    padding: 0;
    margin: 0;
   
}
.text-center {
    text-align: center;
   
    color: #824936;
    font-size: 36px;
}


.head {
    display: flex;
    flex-direction: column;
    min-height: 660px; 
    justify-content: center;
    align-items: center;
    background-color: #F3EED9;
}

.head p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.head h1 {
    font-size: 60px;
    max-width: 700px;
    font-weight: 800;
    color: #824936;
      
}
/*========main content========*/

.container {
    
    padding:  80px;
}

.container h2 {
    margin-bottom: 30px;
}
.container-text {
    display: flex;
    width: 80%;
    margin: 0 auto;
}


.container-text p {
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
            
}

.container-text p + p {
    padding-left: 70px;
}

/*=====container2========*/

.container2 {
    padding: 80px ;
    background-color: #222C2A;     
}

.container-all {
    display: flex;
    width:80%;
    margin: 0 auto ;   
}

.container-content h2 {
    color: #F3EED9;
    font-size: 2em;
    margin-bottom: 20px;
}

.container-content p {
    width: 70%;
    font-size: 21px;
    color: #fff;
 }

 /*========container3=======*/

 .container3 {
     padding: 80px;
     background-color: #824936;
 }

 .container-all2 {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto; 
 }



    