@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;800&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 ,h2 {
    font-family: 'Playfair Display', serif;
    
}

p {
    font-family:'Roboto', sans-serif;
    font-size: 18px;
}

img {
    max-width: 450px;
    padding: 0;
    margin: 0;
   
}
.text-center {
    text-align: center;
   
    color: #824936;
    font-size: 36px;
}


.head {
    display: flex;
    flex-direction: column;
    min-height: 660px; 
    justify-content: center;
    align-items: center;
    background-color: #F3EED9;
}

.head p{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.head h1 {
    font-size: 60px;
    max-width: 700px;
    font-weight: 800;
    color: #824936;
      
}
/*========main content========*/

.container {
    
    padding:  80px;
}

.container h2 {
    margin-bottom: 30px;
}
.container-text {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}


.container-text p {
    
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
            
}

.padding {
    padding-right: 30px;
}


/*=====made custom for you========*/

.container2 {
    padding: 80px ;
    background-color: #222C2A;     
}

.container-all {
    display: flex;
    margin: 0 auto ;   
}

.container-content h2 {
    color: #F3EED9;
    font-size: 2em;
    margin-bottom: 20px;
}

.container-content p {
    width: 70%;
    font-size: 21px;
    color: #fff;
 }

 /*========create with care=======*/

 .container3 {
     padding: 80px;
     background-color: #824936;
 }

 .container-all2 {
  
    display: flex;
    margin: 0 auto; 
 }

 .container-content3  {
    
    margin: 0 auto;
}
 .container-all2 h2 {
     width: 70%;
     margin: 0 auto;
    color: #F3EED9;
    font-size: 2em;
    margin-bottom: 20px;

 }
 
 .container-all2 p {
    width: 70%;
    margin: 0 auto;
    font-size: 21px;
    color: #fff;   
 }
 
 @media (max-width: 990px) {
     .container {
        padding: 10%;
     }
     .container-text {
         flex-direction: column;
     }
     .container-text p {
        
         margin-bottom: 30px;
        
     }
     .container-content p{
         width: 100%;
            
     }

     .padding {
         padding-right: 0;
     }




     /*=======container2======*/
     .container2 {
        padding: 10%;
    }
     .container-all {
        flex-direction: column;  
     }
     .container-all img {
         max-width: 500px;
     }
     .container-all p {
         margin-bottom: 30px;
     }


     /*=====container3=====*/

    .container3 {
        padding: 10%;
    }
     .container-all2 {
         margin: 0 auto;
         width: 100%;
         flex-direction: column;
     }
     .container-all2 img {
       
        margin-bottom: 30px;
     }
     .container-content3 p {
         
         width: 100%;
     }

     .container-content3 h2 {
       
       width: 100%;
     }
 }



    