@charset "utf-8";

*{
    margin-top: 0px;
    padding: 0px;
}
/*background-image: url(https://i.imgur.com/k81DBYU.jpg)*/
body{
    background-image: url(https://www.teahub.io/photos/full/44-441425_electric-blue.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card{
    background-color: #ffffff80;
    padding: 30px;
    border-radius: 4%;
    box-shadow: 3px 3px 1px 0px #0000008f;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    color: #0b2533;
}

.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    border-bottom:  1px solid #0d2330;
    background-color: transparent;
    outline: none;
    min-width: 180px;
    font-size: 16px;
    transition: all .3s ease-out;
    border-radius: 0;
}
.label-float{
    position: relative;
    margin-top: 13px;
    padding-top: 5%;
    margin-bottom: 5%;
}

.label-float input:focus{
    border-bottom: 2px solid #4038a0;
}
.label-float label{
    color: #0d2330;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all .3s ease-out;
}

.label-float input:focus + label{
    font-size: 13px;
    margin-top: 0;
    color: #0d2330;
}

button{
    background-color: transparent;
    border-color: #0d2330;
    color: #0d2330;
    padding: 7px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 18px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    transition: all .3s ease-out;
} 

button:hover{
    background-color: #0d2330;
    color: #fff;  
}

.justify-center{
    display: flex;
    justify-content: center;
}

hr{
    margin-top: 10%;
    margin-bottom: 10%;
    width: 60%;
}

p{
    color: #0d2330;
    font-size: 14pt;
    text-align: center;
}

a{
    counter-reset: #0d2330;
    font-weight: bold;
    text-decoration:  none;
    transition: all .3s ease-out;
}

a:hover{
    color: #0b2738;

}